.content {
  display: flex;
  max-width: 830px;
}
.content__text {
  padding-left: 2%;
}
.content__text-title {
  font-family: "Inter";
  font-size: 3.4em;
}
.content__text-descrip {
  max-width: 738px;
  min-width: 350px;
}
.content__text-author {
  display: flex;
  justify-content: end;
}
.content__text-footer {
  font-size: calc(1.2 + 1em);
  max-width: 722px;
}
